html {
  font-size: 15px; }

body {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif !important;
  background-color: #eee; }

#map {
  width: 100%;
  height: 50vh; }

table tr {
  font-size: 11px; }
