html {
  font-size: 15px;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

#map {
  width: 100%;
  height: 50vh;
}
/* 
.table__states {
  background-color: #fff !important;
  height: 400px !important;
  overflow: scroll;
}

.table__states tbody {
  height: 400px !important;
  overflow:scroll;
}
.left-col {
  height: 100vh !important;
} */