html {
    font-size: 15px;
}

body {
    font-size: 1.6rem;
    font-family: "Quicksand", sans-serif !important;
    background-color: #eee;
    height: 100vh;
}

#map {
    width: 100%;
    height: 50vh;
}

table {
    height: 250px !important;
    overflow: hidden !important;

    tr {
        font-size: 11px;
    }
}