html {
  font-size: 15px; }

body {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif !important;
  background-color: #eee;
  height: 100vh;
  height: 100%;
  }

#map {
  width: 100%;
  height: 50vh; }

table {
  height: 250px !important;
  overflow: scroll !important;
  }
  table tr {
    font-size: 11px; }
